# --- CORE FASTAPI ---
fastapi==0.116.1
uvicorn==0.35.0
starlette==0.47.2

# --- DATABASE ---
SQLAlchemy==2.0.43
PyMySQL==1.1.1
alembic==1.16.4

# --- VALIDACIÓN Y MODELOS ---
pydantic==2.11.7
pydantic-settings==2.6.0
annotated-types==0.7.0
typing_extensions==4.14.1

# --- AUTENTICACIÓN ---
passlib==1.7.4
bcrypt==4.3.0
python-jose==3.5.0
python-multipart==0.0.20
email_validator==2.2.0

# --- UTILIDADES ---
python-dotenv==1.1.1
rich==14.1.0  # Para logs y mensajes bonitos en consola

# --- DOCUMENTACIÓN (opcional) ---
scalar_fastapi==1.3.0